#contact_modal {
    display: none;
}

.logo-photographe {
    height: 50px;
    margin-left: 35%;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 5% 2em 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.contact_button {
    font-size: 0.83em;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photograph-header h1 {
    color: #D3573C;
    font-size: 4em;
    font-weight: 400;
    margin: 0;
}

.profilpicture {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.cityContact {
    font-size: 1em;
    color: #901C1C;
    font-weight: 600;
}

.taglineContact {
    font-size: 0.75em;
    font-weight: 500;
}

.photograph-description {
    display: flex;
    flex-direction: column;
}

.media-card-img {
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.media-card-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.likesMedia {
    display: flex;
    flex-wrap: nowrap;
}

.portfolio-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.portfolio-section article {
    margin: 5%;
}

.infos-Likes-Icon1,
.infos-Likes-Icon {
    width: 20px;
    color: black;
}

.gestionLikes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 200px;
    height: 50px;
    z-index: 1;
    bottom: 0px;
    left: 85%;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}