#contact_modal {
    display: none;
}

.logo-photographe {
    height: 50px;
    margin-left: 35%;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 5% 2em 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.contact_button {
    font-size: 0.83em;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photograph-header h1 {
    color: #D3573C;
    font-size: 4em;
    font-weight: 400;
    margin: 0;
}

.profil-picture {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.city-Contact {
    font-size: 1em;
    color: #901C1C;
    font-weight: 600;
}

.tagline-Contact {
    font-size: 0.75em;
    font-weight: 500;
}

.photograph-description {
    display: flex;
    flex-direction: column;
}

.media-card-img {
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.media-card-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #901C1C;
    font-weight: 500;
}

.likes-media {
    display: flex;
    flex-wrap: nowrap;
}

.portfolio-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.portfolio-section article {
    margin: 5%;
}

.infos-Likes-Icon1,
.infos-Likes-Icon {
    width: 20px;
}

.heart {
    cursor: pointer;
    padding: 10px
}

.heart:focus {
    border: solid 1px black;
}

.gestion-likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 200px;
    height: 50px;
    bottom: 0px;
    left: 85%;
    background-color: #D3573C;
    border-radius: 5px 5px 0 0;
    font-weight: 500;
    color: black;
    font-size: 1.2em;
}

.gestion-likes p {
    color: black;
    font-weight: 500;
    font-size: 1em;
}


/*ListBox*/

.container-listBox {
    display: flex;
    width: 50%;
    margin-top: 30px;
    margin-left: 30px;
    align-items: center;
    border: none;
}

.sort-list {
    width: 40%;
    height: auto;
}

.works-type {
    display: flex;
    margin: 55px;
}

#type-wrapper {
    display: flex;
    align-items: center;
}

.type-btn img {
    color: #fff;
    left: 9.5rem;
    position: absolute;
    width: 20px;
}

.arrow-up-close {
    color: #fff;
    left: 9.5rem;
    position: absolute;
    top: 1rem;
    z-index: 10;
    width: 20px;
}

.arrow-up-close:focus {
    border: solid 1px black;
}

.btn-click {
    border: none;
    background: #901c1c;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    width: 190px;
    padding: 18px;
    border-radius: 5px;
    text-align: left;
}

.hidden-type li {
    background: #901c1c;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem;
    list-style: none;
    margin: 0 10px;
    width: 70%;
}

.type:focus {
    border: solid 1px black;
}

.type-btn {
    align-items: center;
    background: #901c1c;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    justify-content: flex-start;
    left: 11rem;
    position: absolute;
    height: 50px;
}

.works-type>span {
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 1.5625rem;
}

.hidden-type {
    border-radius: 5px;
    color: #fff;
    display: none;
    left: 176px;
    padding: 0;
    position: absolute;
    width: 210px;
    z-index: 5;
    background: #901c1c;
    bottom: 261px;
    font-size: 1.2rem;
    font-weight: 500;
}

.border-li {
    border-bottom: 1px solid white;
}

.hidden-type li:hover {
    cursor: pointer;
}

.hidden-type li:nth-child(1) {
    align-items: center;
    display: flex;
    justify-content: space-between;
}


/* lightbox */

.slider-media-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: white;
}

.container {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
}

.lightbox-next,
.lightbox-prev {
    border: none;
    width: 50px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 20%;
    margin-top: -14px;
    z-index: 21;
    opacity: 1;
    cursor: pointer;
    background-color: transparent;
}

.lightbox-prev {
    right: auto;
    left: 20%;
    transform: rotate(180deg);
}

.lightbox-close {
    width: 42px;
    height: 42px;
    border: none;
    position: fixed;
    top: 18%;
    right: 20%;
    opacity: 1;
    cursor: pointer;
    z-index: 25;
    background: none;
}

.lightbox-container img,
video {
    object-fit: contain;
    margin-bottom: 1em;
    border-radius: 5px;
    max-height: 60vh;
    max-width: 80vw;
}

.lightbox-container {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    min-height: 100vh;
}

.lightbox-content p {
    color: #901c1c;
}

.lightbox-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* form contact */

#contact-modal {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(250, 250, 250, 0.7);
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    margin: 20px auto;
    position: relative;
}

.modal header {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 3em;
    font-weight: normal;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 0 0 0;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form #message-content {
    width: 100%;
    height: 137px;
}

.alertspan {
    font-size: 14px;
    color: black;
    padding: 10px;
}

.modal-confirm {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(250, 250, 250, 0.7);
}

#modal-body-validation {
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    margin: 20px auto;
    position: relative;
}