#contact_modal {
    display: none;
}

.logo-photographe {
    height: 50px;
    margin-left: 35%;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 5% 2em 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.contact_button {
    font-size: 0.83em;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photograph-header h1 {
    color: #D3573C;
    font-size: 4em;
    font-weight: 400;
    margin: 0;
}

.profilpicture {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.cityContact {
    font-size: 1em;
    color: #901C1C;
    font-weight: 600;
}

.taglineContact {
    font-size: 0.75em;
    font-weight: 500;
}

.photograph-description {
    display: flex;
    flex-direction: column;
}

.media-card-img {
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.media-card-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #901C1C;
    font-weight: 500;
}

.likesMedia {
    display: flex;
    flex-wrap: nowrap;
}

.portfolio-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.portfolio-section article {
    margin: 5%;
}

.infos-Likes-Icon1,
.infos-Likes-Icon {
    width: 20px;
}

.heart {
    cursor: pointer;
    padding: 10px
}

.gestionLikes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 200px;
    height: 50px;
    z-index: 1;
    bottom: 0px;
    left: 85%;
    background-color: #D3573C;
    border-radius: 5px 5px 0 0;
    font-weight: 500;
    color: black;
    font-size: 1.2em;
}

.gestionLikes p {
    color: black;
    font-weight: 500;
    font-size: 1em;
}


/*ListBox*/

.containerListBox {
    display: flex;
    width: 50%;
    margin-top: 30px;
    margin-left: 30px;
}

.dropbtn {
    background: url(../assets/icons/chevron-down-solid.svg) no-repeat center right / 100% 100%;
    background-size: 18px;
    background-position: 95%;
    width: 150px;
    height: 50px;
    margin-left: 60px;
    font-size: 1rem;
    color: white;
    border-radius: 5px;
    background-color: #901c1c;
    border: none;
    cursor: pointer;
}

.dropbtn:focus {
    background: url(../assets/icons/chevron-up-solid.svg) no-repeat center right / 100% 100%;
    background-size: 18px;
    background-position: 95%;
    width: 150px;
    height: 50px;
    margin-left: 60px;
    background-color: #901c1c;
    border-radius: 5px 5px 0 0;
    border: none;
    cursor: pointer;
    color: white;
}

.dropdown {
    position: absolute;
    margin-left: 50px;
    width: 40%;
    z-index: 1;
}

.sortList {
    width: 40%;
    height: auto;
}

.dropdown p {
    font-size: 1.2rem;
    width: 100%;
    margin-top: 10px;
}

.dropbtn a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    background-color: #901c1c;
    width: 150px;
    margin-left: 60px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-top: 1px solid white;
}

.show {
    display: block;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}